<% provide(:title, 'Help') %>
<!DOCTYPE html>
<h1>Help</h1>
<p>
  Get help on the Tutorial at the <a href="">help page</a>.
  To get help on this sample app, see the <a href="">Tutorial book</a>.
</p>